* {
  margin: 0;
  padding: 0;
}

section {
  margin: auto;
  position: relative;
  top: 20px;
  width: 1200px;
}

.tittle {
  text-align: center;
}

h1::after {
  content: " ";
  display: block;
  position: relative;
  top: 5px;
  width: 2em;
  height: 2px;
  background-color: red;
  margin: auto;
}
/* .line {
  width: 2px;
  display: inline-block;
  border-bottom: #ae0000;
  margin: auto;
} */

h1 span {
  border-bottom-style: solid;
  border-bottom-color: red;
  padding-bottom: 10px;
}

h2 {
  font-size: 15px;
}

.wrap {
  /*background-color: gray;*/
  position: relative;
  top: 20px;
  display: flex;
  margin: auto; /*區塊置中*/
  width: 960px;
  height: 280px;
}

.item {
  width: 320px;
  height: 180px;
  margin: 15px;
}

img {
  width: 100%;
  height: 100%;
  display: block; /*img為行內元素，具有對齊的基準線，故會與下方的div有一小段空白，故改為區塊元素，消除空白的部分*/
  object-fit: cover; /*定義元素內容要如何適應容器的寬高，cover為保持內容的原有寬高比例進行縮放，讓圖片的內容能夠完全覆蓋元素容器，圖片可能會被剪下掉一部分*/
  border-radius: 0.375rem;
}

.textbox {
  /*background-color: aqua; */
  font-weight: bold;
  margin-top: 10px;
}

.textboxLink {
  text-decoration: none; /*移除超連結底線*/
}

.textboxLink:visited {
  color: black;
}

.textboxLink:hover {
  color: red;
}

.author {
  color: #8e8e8e;
  font-size: 8px;
}

.linkbox {
  position: relative;
  top: 20px;
  margin: auto;
  background-color: red;
  text-align: center;
  line-height: 40px; /*設定成和div的高度一樣，當div區塊的高度等同於文字行高的，文字就會被放在中間*/
  width: 100px;
  height: 40px; /*div高度*/
  border-radius: 0.375rem;
}

.linkbox:hover {
  background-color: #ae0000;
}

.linkMore {
  text-decoration: none;
  color: white;
}

/*
a:link {
　//設定還沒瀏覽過的連結樣式
}
a:visited {
　//設定已經瀏覽過的連結樣式
}
a:hover {
　//設定滑鼠移到連結上的樣式
}
a:active {
　//設定正在被點選的連結樣式
}

*/
